body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0A0A0A;
    color: white; /* Added white color for all text */
  }
  
  .wrapper {
    width: 310px;
    background-color: #2C2C2C;
    color: white; /* Added white color for text inside wrapper */
  }
  
  .wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .wrapper label {
    font-size: 15px;
    margin-left: 15px;
  }
  
  .wrapper .box {
    width: 80%;
    margin: 15px 15px;
  }
  
  .wrapper .input-box .forgot {
    float: right;
    font-size: 12px;
  }
  
  .wrapper button {
    display: block;
    text-align: center;
    width: 80%;
    margin: 15px 15px;
    background-color: greenyellow;
  }
  