body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #0A0A0A;
    color: white; /* Added white color for all text */
  }
  
  .wrapper {
    padding : 15px 15px 15px 15px ;
    width: 310px;
    background-color: #2C2C2C;
    color: white; /* Added white color for text inside wrapper */
  }
  
  .topnot {
    margin-bottom: var(--base-size-16);
    color: var(--fgColor-default, var(--color-fg-default));
    text-align: center;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }
  
  .wrapper label {
    font-size: 15px;
    margin-left: 15px;
  }
  
  .wrapper .box {
    width: 80%;
    margin: 15px 15px;
  }
  
  .wrapper .input-box .forgot {
    float: right;
    font-size: 12px;
  }
  
  .wrapper button {
    display: block;
    text-align: center;
    width: 80%;
    margin: 15px auto; /* Center the button horizontally and add margin at top and bottom */
    background-color: #6F9B3C;
    border-radius: 20px; /* Add curved edges */
  }
  
  .wrapper button:hover {
    background-color: #557a2a; /* Darker green background color on hover */
  }
  
  